{% extends 'base.html' %}

{% load static %}

{% block css %}

<link href="{% static 'css/toastr.css'%}" rel="stylesheet" />
<style>
.stickyDiv{
    position: sticky;
    top:25px;
}
.sidebar .nav li .dropdown-menu a:hover{
    background-color: #8e24aa;
    color: #fff;
    box-shadow: none;
}
.dropdown-item.active{
    color: #ffffff !important;
    text-decoration: none;
    background-color: #8e24aa;
}
</style>

{% endblock %}

{% block content %}

{% include 'navbar.html' with userNotif=userNotif %}


      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Approval Employees Table</h4>
                  <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          #
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                          Email
                        </th>
                        <th>
                            Action
                         </th>
                      </thead>
                      <tbody>
                          {% if employees %}
                          {% for i in employees %}
                        <tr>
                          <td>
                            {{forloop.counter}}
                          </td>
                          <td>
                            {{i.Employee.first_name}} {{i.Employee.last_name}}
                          </td>
                          <td>
                            {{i.Employee.email}}
                          </td>
                          <td>
                            
                            <button type="button" rel="tooltip" title="Approve Employee" data-toggle="modal" data-target="#centralModal{{forloop.counter}}" class="btn btn-outline-success">
                              <i class="material-icons">check</i>
                            </button>

                            <button type="button" rel="tooltip" title="Reject Employee" data-toggle="modal" data-target="#centralModaldis{{forloop.counter}}" class="btn btn-outline-danger">
                              <i class="material-icons">close</i>
                            </button>
                                
                                
                          </td>
                          
                        </tr>
                        
                        {% endfor %}
                        {% else %}

                        <tr>
                            <td colspan="3" style="text-align: right;">No Data Available</td>
                        </tr>

                        {% endif %}

                        </tbody>
                    </table>

                    {% if employees %}
                    {% for i in employees %}

                     <!-- Central Modal Medium -->
                     <div class="modal fade" id="centralModal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                      <!--Content-->
                      <div class="modal-content">
                          <!--Header-->
                          <div class="modal-header">
                          <h4 class="modal-title w-100" id="myModalLabel">Are You Sure you want to approve {{i.Employee.first_name}} {{i.Employee.last_name}} ?</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                          </div>
                          <!--Body-->
                          <!-- <div class="modal-body">
                          ...
                          </div> -->
                          <!--Footer-->
                          <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <a href="/user/approve/{{i.id}}/" type="button" class="btn btn-primary">Approve</a>
                          </div>
                      </div>
                      <!--/.Content-->
                      </div>
                  </div>

                      <!-- Central Modal Medium -->
                      <div class="modal fade" id="centralModaldis{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <!--Content-->
                        <div class="modal-content">
                            <!--Header-->
                            <div class="modal-header">
                            <h4 class="modal-title w-100" id="myModalLabel">Are you sure you want to Reject {{i.Employee.first_name}} {{i.Employee.last_name}} ?</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <!--Body-->
                            <!-- <div class="modal-body">
                            ...
                            </div> -->
                            <!--Footer-->
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a href="/user/disapprove/{{i.id}}/" type="button" class="btn btn-primary">Reject</a>
                            </div>
                        </div>
                        <!--/.Content-->
                        </div>
                    </div>
                  
                    {% endfor %}
                    {% endif %}

                    
                    
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      
  
{% endblock %}


{% block js %}
<script src="{% static 'js/toastr.js' %}"></script>
<script>
    $('input').addClass('form-control')
    $('select').addClass('form-control')
    $('textarea').addClass('form-control')

    // function deletePost(id) {
    //     var ask = window.confirm("Are you sure you want to delete this post?");
    //     if (ask) {

    //         window.location.href = "/user/setting/role/delete/"+id+"/";

    //     }
    // }
</script>

    {% if success %}

    <script>
        toastr.error('', 'Employee {{success}} Successfully',{

                // tap to dismiss
                tapToDismiss: true,

                // toast class
                toastClass: 'toast',

                // container ID
                containerId: 'toast-container',

                // debug mode
                debug: false,

                // fadeIn, slideDown, and show are built into jQuery
                showMethod: 'slideDown', 

                // duration of animation
                showDuration: 300,

                // easing function
                showEasing: 'swing',

                // callback function
                onShown: undefined,
                onHidden: undefined,

                // hide animation
                hideMethod: 'fadeOut',

                // duration of animation
                hideDuration: 1000,

                // easing function
                hideEasing: 'swing',

                // close animation
                closeMethod: true,

                // duration of animation
                closeDuration: false,

                // easing function
                closeEasing: false,

                // timeout in ms
                extendedTimeOut: 1000,

                // you can customize icons here
                iconClasses: {
                error: 'toast-error',
                info: 'toast-info',
                success: 'toast-success',
                warning: 'toast-warning'
                },
                iconClass: 'toast-success',

                // toast-top-center, toast-bottom-center, toast-top-full-width
                // toast-bottom-full-width, toast-top-left, toast-bottom-right
                // toast-bottom-left, toast-top-right
                positionClass: 'toast-top-right',

                // set timeOut and extendedTimeOut to 0 to make it sticky
                timeOut: 5000, 

                // title class
                titleClass: 'toast-title',

                // message class
                messageClass: 'toast-message',

                // allows HTML content in the toast?
                escapeHtml: false,

                // target container
                target: 'body',

                // close button
                closeHtml: '<button type="button">&times;</button>',

                // place the newest toast on the top
                newestOnTop: true,

                // revent duplicate toasts
                preventDuplicates: false,

                // shows progress bar
                progressBar: true,

            })


</script>

{% endif %}

{% endblock %}